@media screen and (min-width: 510px) {
  header {
    background-color: blueviolet;
    display: flex;
    color: #fff;
    justify-content: space-around;
  }

  #menu {
    display: none;
  }

  nav {
    display: flex;
  }

  .navigation ul{
    display: flex;
    flex-direction: row;
  }
  
  .navigation a {
    display: block;
  }

  h1 {
    text-align: center;
  }

  #templeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
}