:root {
  --black: #000;
  --yellow: #ff0;
  --red: #ff0000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.hero {
  border-top: 15px solid yellow;
  border-bottom: 5px solid red;
}

main {
  background-color: #ddd;
  display: block;
}

h1, h2 {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
}

.data p, .weather p{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data strong, .weather strong{
  text-align: right;
  margin-right: 10px;
}

footer {
  background-color: #ff0000;
  color: #000;
  text-align: center;
  padding: 10px;
}

.weather img {
  width: 100px;
}

#icon {
  text-align: center;
}

@media screen and (min-width: 510px) {
  .hero {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .data {
    position: absolute;
    margin-top: 30px;
    left: 10px;
    background-color: #ddd;
    padding: 10px;
    border: 1px solid #999;
}

  .weather {
    position: absolute;
    bottom: 100px;
    right: 10px;
    background-color: #ddd;
    padding: 10px;
  }

  h2 {
    background-color: #ff0;
    border: 1px solid #999;
    padding: 1px;
    bottom: 10px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}