:root {
  --black: #000;
  --yellow: #ff0;
  --red: #ff0000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.hero {
  border-top: 15px solid yellow;
  border-bottom: 5px solid red;
}

main {
  background-color: #ddd;
  display: inline-block;
}

h1, h2 {
  text-align: center;
  padding: 10px;
  font-size: 3rem;
}

.data p, .weather p{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data strong, .weather strong{
  text-align: right;
  margin-right: 10px;
}

footer {
  background-color: #ff0000;
  color: #000;
  text-align: center;
  padding: 10px;
}

.weather img {
  width: 100px;
}

#icon {
  text-align: center;
}

@media screen and(min-width: 550) {
  .hero {
    position: fixed;
    margin: 0 auto;
  }

  .data {
    position: absolute;
  }

  body {
    height: 100%;
    margin: 0;
  }

  .hero {
    position: fixed;
    inset: 0;
    z-index: -1;
  }

  .hero source {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .data {
    position: relative;
    z-index: -1;
    color: white;
  }
}