@media screen and (min-width: 550px) {
  header {
    background-color: blueviolet;
    display: flex;
    color: #fff;
  }

  #menu {
    display: none;
  }

  nav {
    display: flex;
  }

  .navigation ul{
    display: flex;
    flex-direction: row;
  }
  
  .navigation a {
    display: block;
  }

  h1 {
    text-align: center;
  }

  .temple {
    display: flex;
    flex-wrap: wrap;
  }

  div {
    justify-content: center;
  }
}