:root {
  --background-color: blueviolet;
  --heading-font: "Montserrat Alternates", sans-serif;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

header {
  font-family: var(--heading-font);
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--background-color);
  color: var(--text-color);
  justify-content: center;
}

p {
  margin:1.5rem .6rem;
  font-size: 2rem;
}

nav {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  max-width: 700px;
  margin: 1rem auto;
}

nav:hover {
  background-color: rgb(5, 104, 5);
  color: var(--text-color);
}

#menu {
  grid-column: span3;
  position: absolute;
  right: 10px;
  top: 10px;
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '❌';
}

h1 {
  text-align: center;
}

.navigation ul {
  list-style-type: none;
}

.navigation a {
  display: none;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
}

div {
  margin: 0 auto;
  place-items: center;
}

.temple img {
  margin: 10px;
}

.temple figcaption {
  text-align: center;
}

.open a {
  display: block;
}

footer {
  display: block;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

#lastModified {
  color: rgb(255, 255, 0);
  font-size: 25px;
}